/* Barra de navegacion */

.navbar{
    padding: 0.6rem;
    background-color: rgb(209, 228, 209);
    color: black;
  

}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    object-fit: contain;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    text-align: center;
    border:#0a0a23 solid 2px;
}

/*estilos generales*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1{
    font-size: 2rem; /*unidad relativo, es 2.5veces mayor al del html*/
    font-family:'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif /* esto lo saco de google fonts donde dice copiar en CSS*/ 
    
}
.seccion-oscura{
    background-color: rgb(209, 228, 209);
    color: black
}

.seccion-clara{
    color: rgb(77, 18, 18);
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0px;
    font-family:'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
}

.seccion-descripcion{
 font-size: 1.2rem;
 color: #584e4e;
}

.seccion-texto {
    font-size: 1.2rem;
}

/* Seccion Hero o Principal*/
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 7rem;
    margin-right: 10em;
    margin-left: 10em;
    display:flex;
    justify-content:center;
    align-items: center;
}


.hero-principal h1{
       align-items: center;
}

.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
   /* border-radius: 50%;*/ /*lo agregue como propiedad de bootstrap en html en la clase*/
    margin: 20px;
}
.hero-principal h2{
  font-size: 1.5rem;
  color: #615151;
}

.hero-inferior{
    display: flex;
    
.hero-inferior-imagen{
width: 40%;
border-radius: 20%;
margin-bottom: 4em;
margin: 1em 2em 1em 5em;
}

}

/*sobre mi*/
.sobre-mi{
    height: 500px;
    padding: 10px;
}
.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/*Experiencia*/
.experiencia{
    padding: 40px;
}
.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    transition: all 0.2seg ease-in;

}

.experiencia .columna:hover {
color: white;
background-color: #1b1b32;

}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 18px 19px;
    border-radius: 50%;

}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

li{
      text-decoration: none;
      list-style: none;       /*  para sacar los puntitos de los li */

} 

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
   
    }

 .badges{
    margin: 5px;
 }   
/* Proyectos*/

.proyectos-recientes{
    padding: 40px;
}

.proyectos-recientes img{
    display: flex;
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    display: block;
    transition: all 0.2s ease;
    
}

.proyectos-contenedor{
    padding: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img{
    opacity: 0.2;
}
.proyecto:hover .overlay{
    opacity: 1;

}

.overlay .iconos-contenedor{
    display: flex;

}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.btn-info {
    font-size:1.1rem;
    margin: 20px;
    
}

.texto-negro{
color: negro
;
}

.texto-blanco {
color: white;




/* Adapatable responsive*/
/* con esto "@media" hacemos que el icono cuando el ancho del dispositivo es menor a 767px
no muestre el icono porque queda mal o queda feo a la vista en este caso*/

@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
    }
    .overlay i{
        font-size: 40px;
    }
}

@media screen and (max-whidth:767px){
    .navbar-brand{
        display: none;
    }
}
@media screen and (min-width:700px){
    .hero-inferior-imagen{
        max-width: 600px ;
    }
}
}